@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
    --primary-color : #FF930F;
    --secondary-color : #ffd100;
    --font-color : #a8a8a8;
    --icon-color : #626262;
    --white : #fff;
    --bg-color :#fff;
    --hover-color : #f58700;
    --bg-active-state : #f1f1f185;
    --box-bg-color :#fff;
    --swiper-theme-color : #FF930F; /*Swiper var override*/
}

[data-theme="dark"] {
    --font-color : #f8f5f5;
    --icon-color : #111;
    --bg-color : #111;
    --bg-active-state : #38383885;
    --box-bg-color :#222;
}
::-webkit-scrollbar {
    width: 12px;               
  }
::-webkit-scrollbar-track {
    border-radius: 15px;
    margin-block: 2px;
  }
::-webkit-scrollbar-thumb {
    background : linear-gradient(to bottom , var(--primary-color) , var(--secondary-color));    
    border-radius: 20px;       
  }

/* ====================== GLOBAL STYLE ===================== */
* {
    padding: 0;
    margin : 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html , body {
    position:absolute;
    width: 100%;
    height : 100%;
    background-color: var(--bg-color);
    transition: all .2s linear;
    z-index: -10;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.content-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 50px 0 ;
}
.content-container  h3 {
    font-size:20px;
    color :var(--font-color);
    padding: 10px 0;
}
.content-container h1 {
    font-size: 50px;
    color: var(--primary-color);
    padding: 0px 0 30px;
    text-align: center;
}
.primary-color{
    color :var(--primary-color);
}

/* ====================== BG-ANIMATED-SHAPE STYLE ===================== */
.bg-animated-shape{
    position: fixed ;
    top :0 ;
    left:0;
    width:100%;
    height :100%;
    left : -15%;    
}
.bg-animated-shape  .layer{
    position: absolute;
    display: block;
    width:20px;
    height: 20px;
    animation :animate 25s linear infinite;
}
.bg-animated-shape  .layer:nth-child(1){
    top:20%;
    animation-delay: 0s;
}
.bg-animated-shape  .layer:nth-child(1)::before{
    content: "\2B22";
    color: #ff930f;
    font-size:135px;
}
.bg-animated-shape  .layer:nth-child(2){
    top:5%;
    width :20px ;
    height:20px;
    border-radius : 100%;
    background: #fff95b;
    animation-delay: 2s;
    animation-duration: 12s;
}
.bg-animated-shape  .layer:nth-child(3){
    top:60%;
    animation-delay: 4s;
}
.bg-animated-shape  .layer:nth-child(3)::before{
    content: "\2B22";
    color: #fff95b;
    font-size:200px;
}
.bg-animated-shape  .layer:nth-child(4){
    top:40%;
    animation-delay: 0s;
    animation-duration: 18s;
}
.bg-animated-shape  .layer:nth-child(4)::before{
    content: "\2B22";
    color: #ff930f;
    font-size:100px;
}
.bg-animated-shape  .layer:nth-child(5){
    top:80%;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid #fff95b;
    border-bottom: 50px solid transparent;
    animation-delay: 0s;
}
.bg-animated-shape  .layer:nth-child(6){
    top:90%;
    animation-delay: 3s;
}
.bg-animated-shape  .layer:nth-child(6)::before{
    content: "\2B22";
    color: #ff930f;
    font-size:50px;
}

.bg-animated-shape  .layer:nth-child(7){
    top:70%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid #fff95b;
    border-bottom: 25px solid transparent;
    animation-delay: 0s;
    animation-duration: 11s;
}


@keyframes animate {
    0%{
        opacity: 1;
        border-radius: 0;
        transform: translateX(0%) rotate(0deg);
    }
    100%{
        opacity: 0;
        border-radius :50%;
        transform: translateX(1000px) rotate(360deg);
    }
}
/* ====================== END OF BG-ANIMATED-SHAPE STYLE ===================== */


/* ====================== HOME STYLE ===================== */
#Home {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}
.navbar {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding:30px 45px 30px 100px;
    display: flex;
    justify-content: space-between;
    z-index:100;
}
.navbar .logo{
    width:56px;
    height:56px;
}

.darkMode-toggle .checkbox {
    opacity: 0;
    position: absolute;
}

.darkMode-toggle .label {
    width: 80px;
    height: 40px;
    font-size: 25px;
    background-color:var(--white);
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.darkMode-toggle .ball {
    width: 33px;
    height: 33px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 3px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
/*  target the elemenent after the label*/
.darkMode-toggle .checkbox:checked + .label .ball{
    transform: translateX(40px);
}
.darkMode-toggle .fa-moon {
    color: var(--icon-color);
}
.darkMode-toggle .fa-sun {
    color: var(--primary-color);
}
.shape{
    position: relative;
    width: 40%;
    height: 690px;
}
.shape img{
    position: absolute;
    right : 0;
    top : 0;
    width:600px;
    height:620px;
    transition: all .4s;
}
.shape img:nth-child(1){
    z-index: 4;
}
.shape img:nth-child(2){
    z-index: 3;
}
.shape img:nth-child(3){
    width:640px;
    height:660px;
    right: -9%;
    z-index: 2;
    transition: all .5s ease;
}
.shape img:nth-child(4){
    width:660px;
    height:685px;
    right: -18%;
    z-index: 1;
    transition: all 1s ease;
}
.shape img:hover ~ img:nth-child(3){
    right: -13%;
}
.shape img:hover ~ img:nth-child(4){
    right: -25%;
}
.content {
    width: 60%;
    padding: 150px 0 150px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.content p {
    font-size: 35px;
    font-weight: 300;
    color: var(--font-color);
}
.content p span {
    font-size: 45px;
    font-weight: 600;
    color : var(--primary-color);
}


/* ---------- TYPING ANIMATION STYLE ---------- */
.content .wrapper{
    display:flex;
    z-index: -1;
}
.wrapper .dynamic-texts {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-texts li {
    color : var(--secondary-color);
    list-style : none ;
    font-size : 50px;
    font-weight : 500;
    position: relative;
    top : 0;
    animation : sliding 9s steps(3) infinite;
}
@keyframes sliding {
    100% {
        top : -270px;
    }
}
.dynamic-texts li span {
    position : relative;
    margin: 5px 0;
    line-height: 90px;
    
}
.dynamic-texts li span:after {
    content: "";
    position: absolute;
    left:0;
    top:3px;
    height : 100%;
    width:100%;
    background : var(--bg-color);
    border-left: 2px solid var(--secondary-color);
    transition: all .2s linear;
    animation : typing 3s steps(14) infinite;
}
@keyframes typing {
    40%, 60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}
/* ---------- END OF TYPING ANIMATION STYLE ---------- */

.btns {
    width: 310px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.btns.center{
    justify-content: center;
}
.btn {
    padding : 13px 20px ;
    font-size: 15px;
    font-weight : 600;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
}
.pr-btn {
    background: var(--primary-color);
    color : var(--white);
    border:1px solid var(--primary-color);
    border-radius :10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.pr-btn:hover {
    background: var(--hover-color);
    cursor: pointer;
}
.se-btn {
    background:var(--white) ;
    color :var(--primary-color) ;
    border:1px solid var(--primary-color);
    border-radius :10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.se-btn:hover {
    border:1px solid var(--icon-color);
    color: var(--icon-color);
    cursor: pointer;
}
.social-btns{
    padding-top: 50px ;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap :1rem;
}
.social-btns li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height  :40px;
    font-size: 20px;
    border-radius: 100%;
    background-color: var(--primary-color);
    transition: all .2s ease-in;
}
.social-btns li:hover {
    transform : scale(1.1);
}
.social-btns li > a ,
.social-btns li > a:visited {
    color: var(--white) ;
}
.menu {
    width:100px;
    position: fixed;
    top : 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.menuBody{
    position: relative;
    top: 0;
    left: 130%;
    width:65px;
    padding : 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .80);
    backdrop-filter: blur(5px);
    transition: all .5s;
}
.menuBody.enable{
    left: -10px;
}
.menuBody a {
    width: 50px;
    height : 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    border-radius : 100%;
    transition: all .2s ;
    margin-block: 2px;
}
.menuBody a:hover {
    background-color : var(--primary-color);
}
.menuBody a, .menuBody a:visited {
    color : var(--icon-color);
}
.menuBody a:hover {
    color: var(--white) ;
}
.menuBody a.active{
    background-color : var(--primary-color);
    color: var(--white) ;
}
.menu .pulse {
    height: 30px;
    width: 30px;
    background:linear-gradient(
        var(--primary-color) ,
        var(--secondary-color)
    );
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color : #fff;
}
.menu .pulse::after ,
.menu .pulse::before{
    content :"";
    position: absolute;
    height: 100%;
    width:100%;
    background-color: var(--font-color);
    border-radius :50%;
    z-index:-2;
    opacity: 0.6;
}
.menu .pulse:before {
    animation : pulse 2s ease-out infinite;
}
.menu .pulse:after {
    animation : pulse 2s 1s ease-out infinite;
}
.menu .pulse:hover  .menuBody {
    left: 0;
}
@keyframes pulse {
    100%{
        transform: scale(2.5);
        opacity:0;
    }
}
.arrow {
    position: absolute;
    top:95%;
    left:50%;
    transform: translate(-50% , -95%);
    z-index: 1000;
}
.arrow span {
    display: block;
    width:20px;
    height:20px;
    border-bottom: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    transform :rotate(-45deg);
    margin :-5px;
    animation : scroll 1.5s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -.2s;
}
.arrow span:nth-child(3) {
    animation-delay: -.4s;
}
@keyframes scroll {
    0%{
        opacity :0 ;
        transform : rotate(-45deg) translateY(-20px ,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform : rotate(-45deg) translateY(20px ,20px);
    }
}
/* ====================== END HOME STYLE ===================== */


/* ====================== ABOUT ME STYLE ===================== */
.innerAboutMe {
    width: 100%;
    display: flex;
    padding : 0 30px ;
}
.innerAboutMe .col-25{
    position: relative;
    flex :3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerAboutMe .col-25 img {
    width:400px;
    height: 400px;
    position: absolute;
    transition:all .5s ease-in-out;
}
.innerAboutMe .col-25 img:hover ~ img:nth-child(3) ,
.innerAboutMe .col-25 img:hover ~ img:nth-child(2) ,
.innerAboutMe .col-25 img:hover{
    transform: rotate(0deg) scale(1.1);
}
.innerAboutMe .col-25 img:nth-child(1){
    z-index:3;
}
.innerAboutMe .col-25 img:nth-child(2){
    z-index:2
}
.innerAboutMe .col-25 img:nth-child(3){
    transform: rotate(15deg);
    z-index:1
}
.innerAboutMe .col-75{
    flex:4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding : 0 40px  ;
    
}
.innerAboutMe .col-75 .Rec-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerAboutMe .col-75 .Rec-container .Rec{
    padding: 10px;
    margin: 0 50px 0 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:150px;
    height:150px;
    border-radius :15px;
    border :3px solid var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all .3s ease-in-out;
    
}
.innerAboutMe .col-75 .Rec-container .Rec:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.innerAboutMe .col-75 .Rec-container .Rec .fas {
    font-size: 35px;
    color : var(--secondary-color);
    margin : 5px;
    transition: all .3s ease-in-out;
}
.innerAboutMe .col-75 .Rec-container .Rec:hover .fas {
    font-size: 40px;
}
.innerAboutMe .col-75 .Rec-container .Rec h4 {
    color : var(--secondary-color);
    margin : 3px;
}
.innerAboutMe .col-75 .Rec-container .Rec p{
    font-size : 13px;
    color : var(--font-color);
    margin : 5px;
}
.innerAboutMe .col-75  .about-content p {
    padding : 50px 0;
    font-size : 15px;
    color : var(--font-color);
}
/* ====================== END OF ABOUT ME STYLE ===================== */


/* ====================== EXPERIENCE STYLE ===================== */
.skills-box {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skills-box .Sbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width :500px;
    background: var(--box-bg-color);
    border :3px solid var(--primary-color);
    margin:25px;
    padding: 15px 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    filter: blur(.5px);
}
.skills-box .Sbox h2{
    font-size:30px;
    color:var(--primary-color);
    margin:15px 0 25px;
}
.skills-box .Sbox .box-container{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;
}
.Sbox .box-item{
    width:120px;
    display: flex;
    margin:5px 10px;
}
.Sbox .box-item .b-icon {
    font-size: 24px;
    margin-right:20px;
    color : var(--secondary-color);
}
.Sbox .box-item h4 {
    color : var(--secondary-color);
}
.Sbox .box-item p {
    color : var(--font-color);
}
/* ====================== END OF EXPERIENCE ===================== */


/* ====================== SERVICES STYLE===================== */
.services-container {
    width:100%;
    margin-top : 30px;
}
.services-container .service-box{
    width:100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}
.service-box .box{
    position: relative;
    width : 400px;
    padding:5px;
    background-color:var(--primary-color);
    border-radius: 29px;
    margin : 10px 20px;

}
.service-box .box img{
    width: 100%;
}
.service-box .box h3{
    position:absolute;  
    top: 6%;
    left : 15%;
    transform : translate(-15% ,-6%);
    color: #b5b5b5;
}
.service-box .box ul {
    padding :10px 20px;
    list-style: none;
}
.service-box .box ul li {
    display: flex;
    justify-content: center;
    margin-bottom : 20px;
}
.service-box .box ul li .fas {
    font-size: 20px;
    color : #fff;
    margin-right :10px;
}
.service-box .box ul li p {
    font-size: 18px;
    color : #fff;
    text-align: justify;
}
/* ====================== END OF SERVICES STYLE ===================== */


/* ====================== PORTFOLIO STYLE ===================== */
.portfolio-container{
    width:90%;
    padding:50px 0 ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.top-nav{
    width: 100%;
    padding:15px;
}
.top-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.top-nav ul li a{
    padding: 10px 20px;
    color :var(--font-color);
    font-size: 15px;
    font-weight:600;
    cursor: pointer;
    transition: all .2s;
    flex-shrink: 0;
}
.top-nav ul li.active a{
    border-bottom: 2px solid var(--primary-color);
    color :var(--primary-color) !important;
}
.top-nav ul li a {
    text-decoration: none;
}
.top-nav ul li a .port-nav-icon {
    margin-right : 10px
}

.top-nav ul li a:hover{
    color :var(--primary-color);
}
.top-nav ul li a  {
    color :var(--font-color);

}
.work-gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.side-menu  {
    width:40%;
    height: 550px;
    padding :5px 30px;
}
.side-menu .menu-item {
    background-color: var(--box-bg-color);
    position: relative;
    width: 95%;
    padding: 15px;
    height: 130px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    transition: all .2s;
}
.side-menu .menu-item.swiper-slide-thumb-active {
    transform: translateX(15px);
    border: 3px solid var(--primary-color);
}
.side-menu .menu-item.swiper-slide-thumb-active::before {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    content: "\f0da";
    color: var(--primary-color);
    font-size: 25px;
}
.side-menu .menu-item img{
    width: 150px;
    height: 85px;
    border-radius: 5px;
}
.side-menu .menu-item .menu-details h3{
    font-size: 18px !important;
}
.side-menu .menu-item .menu-details p{
    font-size: 13px;
    color: var(--secondary-color);
}
.preview-container {
    width: 60%;
}
.preview  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 40px;
}
.preview img {
    width:100%;
    border-radius :15px;
}
.preview h1 {
    text-align: center;
    padding:10px 10px 0 10px ;
}
.rate {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 15px;
}
.rate span {
    color : var(--font-color);
    font-size: 18px
}
.rate span.checked {
    color: var(--primary-color);
}
/* ====================== END OF PORTFOLIO STYLE ===================== */

/* ====================== START OF PORTFOLIO STYLE  GRAPHIC DESIGN ===================== */

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 85%;
    border-Radius: 15px;
    box-Shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 40px 15px;
}

.card{
    position: relative;
    width:300px;
    height: 200px;
    background:#eee;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img {
    width:100%;
    height:100%;
}
.card .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    opacity: 0;
    transition: all .4s ease-out;
    backdrop-filter: blur(1px);

}
.card .overlay span {
    background: linear-gradient( to bottom,#ff930f , #ffd100);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}
.card .overlay i{
    font-size:1.5rem;
    color: #fff;
}
.card:hover .overlay{
    opacity: 1;
}
.card .overview {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: #1111117d;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 10000;
}
.card .overview img{
    width: 80%;
    height: auto;
    border-radius: 15px;
    aspect-ratio: 16 / 9;
}
.card .overview i{
    position: absolute;
    left: 98%;
    top: 2%;
    transform: translate(-98%, -2%);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}
.card .overview i:hover{
    background: #74777a;
}
/* ====================== END OF PORTFOLIO STYLE  GRAPHIC DESIGN ===================== */


/* ====================== TESTIMONIALS STYLE ===================== */
#Testimonials {
    height : 750px;
    overflow: hidden;
}
#Testimonials .parallax img:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-60% , -50% ) rotate(320deg) !important;
    width: 350px;
    height: 350px;
    object-fit: cover;
}
#Testimonials .parallax img:nth-child(2) {
    position: absolute;
    top: 80%;
    left: -16%;
    transform: translate(16% , -80% ) rotate(320deg) !important;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.testimonials-container {
    width:100%;
    height: 100%;
    /* min-height : 550px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials-container  .swiper{
    width:100%;
    height:100%;
}
.testimonials-container  .swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials-container .Review-box {
    position: relative;
    width: 650px;
    height: 300px;
    padding: 20px 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: var(--box-bg-color);
    border-Radius: 15px;
    box-Shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    filter: blur(.5px);
}
.testimonials-container .Review-box  img{
    position: absolute;
    top: -50%;
    left: -20%;
    transform: translate(20% ,50%);
    width:200px;
    height:200px;
    border:5px solid var(--primary-color);
    border-radius: 100%;
}
.testimonials-container .Review-box .Reviewer-name {
    overflow: hidden;
}
.testimonials-container .Review-box .Reviewer-name .text-wrapper {
    position : relative;
    font-weight: 900;
    font-size: 50px;
    color:var(--primary-color);
    transform: translateX(100%);
    transition: all .75s ease;
}
.swiper-slide-active .Reviewer-name .text-wrapper{
    transform: translateX(0) !important;

}
.testimonials-container .Review-box .Reviewer-Mesage {
    overflow: hidden;
}
.testimonials-container .Review-box .Reviewer-Mesage .text-wrapper {
    position : relative;
    margin: 15px;
    font-size:17px;
    color:var(--font-color);
    text-align: center;
    transform: translateY(100%);
    transition: all .75s ease;

}
.swiper-slide-active .Reviewer-Mesage .text-wrapper{
    transform: translateY(0) !important;

}
.swiper-pagination {
    bottom: 50px;
    left: 0;
    width: 100%;
}
/* ====================== END OF TESTIMONIALS STYLE ===================== */



/* ====================== CONTACT ME STYLE ===================== */
.contact-me-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.quick-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.quick-contact .gmail-box ,
.quick-contact .whatsapp-box{
    width: 300px;
    height: 220px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to top right , var(--primary-color) , var(--secondary-color));
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;

}
.gmail-box .fas,
.whatsapp-box .fab {
    font-size: 40px;
    color :var(--white);
}
.gmail-box h2 ,
.whatsapp-box h2{
    font-size: 35px;
    font-weight: 700;
    color :var(--white);
}
.gmail-box p ,
.whatsapp-box p{
    font-size: 15px;
    color :var(--white);
}
.gmail-box .send-message ,
.whatsapp-box .send-message{
    border: none;
    border-radius: 10px;
    padding: 13px 20px;
    font-size: 15px;
    background: var(--white);
    color: var(--secondary-color);
    transition: all .2s ease;
    cursor: pointer;
    color: var(var(--font-color));
    margin-top: 10px;
}
.gmail-box .send-message:hover ,
.whatsapp-box .send-message:hover{
    letter-spacing: 1px;
    color : var(--primary-color);
    border-color: var(--primary-color);

}
.contact-me-container .contact-form {
    padding :15px;
    display: flex;
    flex-direction: column;
}
.contact-form input ,textarea {
    width:100%;
    margin-bottom:15px ;
    padding:20px 30px;
    border: none;
    color:var(--secondary-color);
    background: var(--bg-color);
    border-radius: 10px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    transition : all .3s ease ;
    /* for textarea */
    resize: none;
}
.contact-form input::placeholder ,
.contact-form textarea::placeholder{
    color:var(--secondary-color);
}
.contact-form input:focus ,
.contact-form textarea:focus {
    outline: none !important;
    color:var(--primary-color);
}
.contact-form input:focus::placeholder ,
.contact-form textarea:focus::placeholder{
    color:var(--primary-color);
}
/* ====================== END OF CONTACT ME STYLE ===================== */



/* ====================== FOOTER STYLE ===================== */
footer {
    position: relative;
    width: 100%;
    padding:20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
}
footer h1{
    font-size:40px;
    padding:20px;
}
.footer-nav {
    width: 100%;
    padding: 20px 30px;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    gap: 2rem;
}
.footer-nav li a ,.footer-nav li a:visited {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    transition: all .3s ease;
}
.footer-nav li a:hover{
    color:var(--icon-color)
}
.social-media{
    list-style: none;
    display: flex;
    padding: 10px;
    gap :15px;
}
.social-media li a {
    width:50px;
    height:50px;
    font-size: 23px;
    border-radius: 15px;
    background-color: var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    cursor: pointer;
}
.social-media li a , .social-media li a:visited {
    color: var(--white);
}
.social-media li a:hover {
    background-color:var(--white);
    color: var(--primary-color);
}

footer h4{
    padding : 30px  20px 0;
}
/* ====================== END OF FOOTER STYLE ===================== */



/* ====================== RESPONSIVE SECTION ===================== */


/* ---------- LAPTOP SCREEN  ---------- */
@media screen and (max-width:1180px) {
    /* -------- HOME STYLE -------- */
    .navbar {
        padding:30px 45px 30px 50px;
    }
    .shape img{
        width:420px;
        height:435px;
    }
    .shape img:nth-child(3){
        width:445px;
        height:460px;
    }
    .shape img:nth-child(4){
        width:475px;
        height:485px;
    }
    .content {
        padding: 150px 0 150px 50px;
    }
    .content p {
        font-size: 25px;
    }
    .content p span {
        font-size: 35px;
    }
    .dynamic-texts li {
        font-size : 40px;
    }
    .btn {
        padding : 10px 16px ;
        font-size: 13px;
        font-weight : 300;
    }

    /* -------- ABOUT ME STYLE -------- */
    .innerAboutMe .col-75 {
        align-items: flex-start;
        margin :10px;
    }
    .innerAboutMe .col-75 .Rec-container {
        justify-content: center;
        gap : 30px;
    }
    .innerAboutMe .col-25 img {
        width: 300px;
        height: 300px;
    }
    .innerAboutMe .col-75 .Rec-container .Rec {
        margin:0;
        width: 110px;
        height: 110px;
    }
    .innerAboutMe .col-75 .Rec-container .Rec .fas {
        font-size: 20px;
    }
    .innerAboutMe .col-75 .Rec-container .Rec p {
        font-size: 8px;
        margin: 0;
    }
    .innerAboutMe .col-75 .about-content p {
        text-align:left;
        padding: 25px 0px;
    }

    /* -------- PORTFOLIO STYLE -------- */
    .side-menu {
        width: 45%;
    }
    .side-menu .menu-item img {
        width: 115px;
        height: 85%;
    }
    .side-menu .menu-item .menu-details h3 {
        font-size: 15px !important;
    }
    .side-menu .menu-item .menu-details p {
        font-size: 12px;
    }
    .preview {
        width: 55%;
    }
    /* -------- TESTIMONIALS STYLE -------- */
    #Testimonials .parallax img:nth-child(1) ,
    #Testimonials .parallax img:nth-child(2){
        width: 220px;
        height: 220px;
    }
}

/* ---------- TABLET SCREEN ---------- */

@media  screen and (max-width:920px) {
     /* -------- HOME STYLE -------- */
    .shape img{
        width:365px;
        height:380px;
    }
    .shape img:nth-child(3){
        width:395px;
        height:405px;
        right:-7%;
    }
    .shape img:nth-child(4){
        width:420px;
        height:430px;
        right: -15%;
    }
    .shape img:hover ~ img:nth-child(3){
        right: -12%;
    }
    .shape img:hover ~ img:nth-child(4){
        right: -20%;
    }
    .content p {
        font-size: 20px;
    }
    .content p span {
        font-size: 30px;
    }
    .dynamic-texts li {
        font-size : 35px;
    }

    /* -------- ABOUT ME STYLE -------- */
    #AboutMe{
        align-items: center;
    }
    .innerAboutMe{
        flex-direction: column;
        gap:2rem;
    }
    .innerAboutMe .col-25{
        position: relative;
        flex :3;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height:400px;
    }
    .innerAboutMe .col-75 {
        align-items: center;
        margin: 0px;
    }
    .innerAboutMe .col-75 .about-content p {
        text-align: center;
        padding: 25px 50px;
    }

    /* -------- PORTFOLIO STYLE -------- */
    .top-nav{
        width: 100%;
    }
    .top-nav ul {
        justify-content: center;
    }
    .top-nav ul li {
        font-size: 15px;
    }
    .work-gallery {
        flex-direction: column-reverse;
    }
    .side-menu {
        width: 90%;
    }
    .preview-container {
        width: 100%;
    }
    
    /* -------- PORTFOLIO STYLE GRAPHIC DESIGN -------- */



    /* -------- TESTIMONIALS STYLE -------- */

    #Testimonials .parallax img:nth-child(1), #Testimonials .parallax img:nth-child(2) {
        width: 180px;
        height: 180px;
    }
    .testimonials-container .Review-box {
        width: 500px;
        height: 330px;
        padding: 10px 25px;
    }
    .testimonials-container .Review-box img {
        top: -50%;
        left: 50%;
        transform: translate(-50% ,50%);
        width: 180px;
        height: 180px;
    }
    .testimonials-container .Review-box .Reviewer-name .text-wrapper {
        font-size: 40px;
    }
    .testimonials-container .Review-box .Reviewer-Mesage .text-wrapper {
        margin: 10px;
        font-size: 15px;
    }
    /* -------- CONTACT US STYLE-------- */
    .contact-me-container{
        flex-direction: column;
    }
    .quick-contact {
        flex-direction: row;
    }
}

/* ---------- S-TABLET SCREEN  ---------- */
@media  screen and (max-width:710px) {
    
    /* -------- HOME STYLE -------- */
    #Home {
        display: block;
    }
    .arrow {
        left:10%;
        transform: translate(-10% , -95%);
    }
    .btns{
        width:100%;
        justify-content: center;
    }
    .darkMode-toggle .label {
        width: 60px;
        height: 30px;
        font-size: 20px;
    }
    .darkMode-toggle .ball {
        width: 25px;
        height: 25px;
        background-color: var(--secondary-color);
        position: absolute;
        top: 3px;
        left: 2px;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }
    /*  target the elemenent after the label*/
    .darkMode-toggle .checkbox:checked + .label .ball{
        transform: translateX(30px);
    }
    .shape, .content{
        width:100%;
        height: 450px;
    }
    .content{
        text-align: center;
        align-items: center;
        padding:0;
        margin-top: -80px;
    }
    .content p span {
        font-size: 25px;
    }

    /* -------- CONTACT ME STYLE -------- */
    /* .contact-me-container .contact-form {
        width: 100%;
        padding:15px 25px;
    } */
}

/* ---------- XL-PHONE SCREEN  ---------- */
@media screen and (max-width:565px){

    /* -------- PORTFOLIO STYLE -------- */
    .top-nav ul li {
        font-size: 13px;
        padding: 10px 15px;
    }
    
    .skills-box .Sbox h2{
        text-align: center;
    }
    .skills-box .Sbox .box-container{
        justify-content: center;
    }
    
}

/* ---------- L-PHONE SCREEN  ---------- */
@media screen and (max-width:475px) {
    /* -------- HOME STYLE -------- */
    .navbar{
        padding: 15px 25px;
    }
    .navbar .logo{
        width:40px;
        height:40px;
    }
    .navbar .darkMode {
        font-size: 30px;
    }
    .shape img{
        width:285px;
        height:290px;
    }
    .shape img:nth-child(3){
        width:315px;
        height:325px;
    }
    .shape img:nth-child(4){
        width:345px;
        height:350px;
    }
    .content{
        margin-top: -160px;
    }

    /* -------- ABOUT ME STYLE -------- */
    .innerAboutMe{
        padding : 0 10px;
    }
    .innerAboutMe .col-25 {
        min-height: 350px;
    }
    .innerAboutMe .col-25 img {
        width: 200px;
        height: 200px;
    }
    .innerAboutMe .col-75  {
        padding : 0;
    }
    
    .innerAboutMe .col-75 .Rec-container {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .innerAboutMe .col-75 .Rec-container .Rec {
        width: 90px;
        height: 90px;
        padding: 0;
    }
    
    .innerAboutMe .col-75 .Rec-container .Rec:hover .fas {
        font-size: 30px;
    }
    .innerAboutMe .col-75 .Rec-container .Rec .fas {
        font-size: 20px;
    }
    .innerAboutMe .col-75 .Rec-container .Rec h4 {
        font-size: 13px;
    }
    .innerAboutMe .col-75 .about-content p {
        padding:25px;
        font-size:13px;
    }

    /* -------- EXPERIENCE  STYLE -------- */
    .skills-box .Sbox h2 {
        font-size: 25px;
    }

    /* -------- SERVICES STYLE -------- */
    .service-box .box h3 {
        font-size: 22px !important;
        top: 3%;
        transform: translate(-15% ,-3%);
    }

    /* -------- PORTFOLLIO STYLE -------- */
    .top-nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .top-nav ul li{
        font-size: 18px;
    }
    .side-menu {
        width: 95%;
        padding: 10px 20px 10px 5px;
    }
    .side-menu .menu-item {
        height: 90px;
    }
    .side-menu .menu-item.swiper-slide-thumb-active::before {
        font-size: 40px;
    }
    .side-menu .menu-item img {
        width: 85px;
        height: 60%;
    }
    .side-menu .menu-item .menu-details h3 {
        font-size: 13px !important;
    }
    .side-menu .menu-item .menu-details p {
        font-size: 11px !important;
    }
    .preview {
        padding: 5px 10px;
    }
    .preview h1 {
        text-align: center;
        font-size: 25px;
    }
    .preview .Feedback {
        width: 100%;
    }
    .preview .Feedback .like .fas,
    .preview .Feedback .comment .fas {
        font-size: 20px;
        margin-right: 10px;
    }
    .preview .Feedback .like p,
    .preview .Feedback .comment p {
        font-size: 17px;
    }
    /* -------- PORTFOLIO GRAPHIC DESIGN STYLE -------- */
    .card .overview img{
        width : 90%
    }

    /* -------- TESTIMONIALS STYLE -------- */
    #Testimonials .parallax img:nth-child(1), #Testimonials .parallax img:nth-child(2) {
        width: 100px;
        height: 100px;
    }
    #Testimonials .parallax img:nth-child(2) {
        position: absolute;
        top: 40%;
        left: -16%;
        transform: translate(16% , -80% ) rotate(320deg) !important;
    }
    .testimonials-container .Review-box {
        width: 300px;
        height: 300px;
        padding: 40px 10px 5px;
        border: 3px solid var(--secondary-color);
    }
    .testimonials-container .Review-box img {
        top: -60%;
        left: 50%;
        transform: translate(-50%, 60%);
        width: 150px;
        height: 150px;
        border: 3px solid var(--primary-color);
    }
    .testimonials-container .Review-box .Reviewer-name .text-wrapper {
        font-size: 35px;
    }
    .testimonials-container .Review-box .Reviewer-Mesage .text-wrapper {
        margin: 5px;
        font-size: 14px;
    }

    /* -------- CONTACT ME STYLE -------- */
    .contact-me-container {
        gap: 30px;
    }
    .quick-contact .gmail-box, .quick-contact .whatsapp-box {
        width: 250px;
        height: 200px;
    }
    .gmail-box .fas, .whatsapp-box .fas {
        font-size: 40px;
        color: var(--white);
    }
    .gmail-box h2, .whatsapp-box h2 {
        font-size: 25px;
    }
    .gmail-box p, .whatsapp-box p {
        font-size: 14px;
    }
    .gmail-box .send-message, .whatsapp-box .send-message {
        padding: 10px 15px;
        font-size: 16px;
    }
    

    /* -------- FOOTER STYLE -------- */
    footer {
        padding: 10px 20px;
    }
    footer h1 {
        text-align: center;
        font-size: 25px;
        padding: 10px;
    }
    .footer-nav {
        flex-direction: column;
        font-size: 17px;
        font-weight: 500;
    }

    footer h4 {
        text-align: center;
        padding: 30px 0;
    }
        
}

/* ---------- S-PHONE SCREEN  ---------- */
@media screen and (max-width: 335px){
    .service-box .box h3 {
        font-size: 15px !important;
        top: 2%;
        transform: translate(-15% ,-2%);
    }
    /* -------- PORTFOLLIO GRAPHIC DESIGN STYLE -------- */
    .card .overview img{
        width : 95%
    }
}
